@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,500;1,300;1,400&family=PT+Serif:wght@400;700&display=swap");

* {
  font-family: "Noto Serif", serif;
  font-family: "PT Serif", serif;
}
main {
  background-color: #f1e9ff;
  color: #8c52ff;
}
nav {
  color: #e3d5ff;
}
.nav-link-txt {
  color: #e3d5ff;
  font-size: larger;
  font-weight: 600;
}
.navbar {
  background-color: #8c52ff;
}

.navbar-toggler[aria-expanded="true"] .btn {
  justify-content: center;
  margin-bottom: 2px;
}

.btn {
  color: #8c52ff;
  background-color: #e3d5ff;
}
.btn-txt {
  color: #8c52ff;
}
.offcanvas {
  background-color: #8c52ff;
}

.nav-link-hover-effect {
  transition: all ease-out;
}

.nav-link-hover-effect:hover {
  background-color: #e3d5ff;
  color: #8c52ff;
  border-radius: 5px;
}

#btn-hover:hover {
  color: #e3d5ff;
}

footer {
  background-color: #8c52ff;
}

.footer-section-heading {
  color: #321866;
  font-weight: 600;
  text-shadow: -1px -1px 10px #e3d5ff;
}

.foot-link-txt {
  color: #e3d5ff;
  font-size: medium;
  font-weight: 500;
}
.foot-link-txt:hover {
  color: #321866;
  font-size: medium;
  font-weight: 500;
}
.floating-label-color {
  color: #bfa0ff;
}

form-control {
  border: 1px solid red;
}
button.btn-primary:hover {
  background-color: #8c52ff;
}

.card {
  min-height: 200px;
  background-color: #f1e9ff;
  border: 1px solid #bfa0ff;
  /* box-shadow: 1px 1px 7px 1px #d8c7f5; */
}
.card-title {
  background-color: #d8c7f5;
}
